/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: Raleway, Helvetica, sans-serif;
}
body {
  background-image: url(../images/mountains.jpg);
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  font-size: 3.2rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.8rem;
  font-weight: bold;
}
p {
  font-size: 1.5rem;
}
li {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}
.container {
  max-width: 950px;
  width: 90%;
  margin: 0 auto;
}
.learnMoreTop {
  margin: 20px 0;
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1.5%;
}
.learnMoreTop:hover {
  border: 1px solid white;
  background-color: black;
  color: white;
}
.learnMoreBottom {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1.5%;
}
.learnMoreBottom:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: #2e3141;
  opacity: 0.9;
  position: fixed;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
nav a {
  margin-left: 3%;
  color: white;
}
nav .inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 3%;
}
nav .inner h2::after {
  content: '';
  padding-right: 2vw;
}
nav .inner .burger div {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
.menu {
  display: none;
}
footer {
  padding-top: 30px;
  padding-left: 3%;
  background-color: #2e3141;
  opacity: 0.9;
  color: white;
}
footer .inner h2 {
  border-bottom: 1px solid white;
  width: 35%;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
footer .inner .contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
footer .inner .contact .forms {
  width: 35%;
}
footer .inner .contact .forms .field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
footer .inner .contact .forms .field label {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
footer .inner .contact .forms .field input {
  width: 100%;
  margin-bottom: 10px;
}
footer .inner .contact .forms .field textarea {
  width: 100%;
  margin-bottom: 30px;
}
footer .inner .contact .details {
  padding-left: 50px;
}
.sendMessage {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1.5%;
}
.sendMessage:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
}
.copyright {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}
.copyright a {
  color: white;
}
.sectionOne {
  padding-top: 200px;
  margin-bottom: 100px;
}
.sectionOne .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.sectionOne .inner h1 {
  border-bottom: 1px solid black;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.sectionTwo .inner .twoGuide {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sectionTwo .inner .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.sectionTwo .inner .content h2 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.sectionTwo .twoDoor {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sectionTwo .twoDoor .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.sectionTwo .twoCamera {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sectionTwo .twoCamera .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.circle {
  max-width: 257.52px;
  width: 100%;
  max-height: 257.52px;
  height: 100%;
  border-radius: 50%;
}
.circle.right {
  margin-left: 5%;
}
.circle.left {
  margin-right: 5%;
}
.sectionThree .inner h2 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.sectionThree .inner .articlesOne {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sectionThree .inner .articlesOne article {
  width: 48%;
  background-color: #404741;
  color: white;
  border-radius: 20px;
}
.sectionThree .inner .articlesOne article .articleContent {
  padding: 0 8%;
  margin-bottom: 30px;
}
.sectionThree .inner .articlesOne article .articleContent h3 {
  padding-top: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.sectionThree .inner .articlesOne article .articleContent p {
  padding-bottom: 30px;
}
.sectionThree .inner .articlesTwo {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sectionThree .inner .articlesTwo article {
  width: 48%;
  background-color: #404741;
  color: white;
  border-radius: 20px;
}
.sectionThree .inner .articlesTwo article .articleContent {
  padding: 0 8%;
  margin-bottom: 30px;
}
.sectionThree .inner .articlesTwo article .articleContent h3 {
  padding-top: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.sectionThree .inner .articlesTwo article .articleContent p {
  padding-bottom: 30px;
}
.articleImage {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
