// General Styles
* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    // overflow: hidden;
    // ::-webkit-scrollbar {
    //   display: none;
    }

  
  html, body {
    font-family: Raleway, Helvetica, sans-serif;
    // color: @main-font-color;
  }
  
// body {
//   background-image: url(../images/mountains.jpg);
//   background-attachment: fixed;
//   background-size: cover;
//   // background-size: contain;
//   @media @mobile {
//     background-attachment: fixed;
//     background-size: auto;
//   }
// }

body:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(../images/mountains.jpg);
  background-size: cover;
  @media @mobile {
    background-size: auto;
  }
}

  h1 {
    font-size: 3.2rem;
    font-weight: bold;
  }
  
  h2 {
    font-size: 2.0rem;
    font-weight: bold;
  }
  
  h3 {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  p {
    font-size: 1.5rem;
    // line-height: 1.4;
  }

  li {
    font-size: 1.5rem;    
  }

  a {
    text-decoration: none;
  }


  .container {
    transition: 0.5s;
    .container-width-mixin(950px; 90%);
    // background-color: lightcoral;
  }

  .learnMoreTop {
    margin: 20px 0;
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1.5%;
  }
  
  .learnMoreTop:hover {
    border: 1px solid white;
    background-color: @article-background;
    color: white;
  }        
  .learnMoreBottom {
    // margin: 20px 0;
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1.5%;
  }

  .learnMoreBottom:hover {
    border: 1px solid black;
    background-color: #F6DBD1;
    color: black;
  }        